<div class="container" fxLayout="row" fxLayoutAlign="space-around center" fxLayout.lt-md="column" fxLayoutGap="32px">

  <div class="tui-col_md-12">
    <tui-island>

      <div fxLayout="row">
        <div class="square">
          <div class="content">
            <tui-svg tuiColor="base-05" class="icon" src="tuiIconLikeLarge"></tui-svg>
          </div>
        </div>
      </div>

    </tui-island>
  </div>
  <div class="tui-col_md-12">
    <tui-island>
      <div fxLayout="row">
        <div class="square">
          <div class="content">
            <tui-svg tuiColor="base-05" class="icon" src="tuiIconLikeLarge"></tui-svg>
          </div>
        </div>
      </div>
    </tui-island>
  </div>
</div>
