

.contribute-card{
    min-width: 240px;
}

.box {
  height: 20rem;
}

.block2 {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 16px;
}

.button-new {
    width: 100%;
    align-items: center;
    background-color: #05B41C;
    border: 2px solid #05B41C;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    fill: #000;
    font-family: Inter,sans-serif;
    font-size: 16px;
    font-weight: 600;
    height: 48px;
    justify-content: center;
    letter-spacing: -.8px;
    line-height: 24px;
    min-width: 140px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    border-radius: 8px;
  }
  
  .button-new:focus {
  }
  
  .button-new:hover {
    background-color: #2FC974;
    border-color: #2FC974;
    fill: #05B41C;
  }
  
  .button-new:active {
    background-color: #2FC974;
    border-color: #2FC974;
    fill: #06f;
  }
  
  @media (min-width: 768px) {
    .button-new {
      min-width: 64px;
    }
  }

  .ng-dropdown-footer{
    border-top:unset !important;
    padding: 0px 10px !important;
}
.ng-dropdown-footer:hover {
   background-color: #f5faff;
}

.create-new {
  cursor: pointer;
  padding-top:5px;
  padding-bottom:10px
}

