<div fxLayout="column" fxLayoutAlign="center stretch" style="background-color: #F2F2F2;">
  <h1 style=" text-align: center; padding-top: 32px">
    Acerca de
  </h1>
  <div class="container" fxLayout="row" fxLayoutAlign="space-around stretch" fxLayout.lt-sm="column" fxLayoutGap="8px">

    <div class="tui-col_md-12" style="align-items: stretch;">
      <app-about-card [routeUrl]="'objetivos'" [icon]="'assets/find-partner.svg'"  [content]="'Los datos abiertos constituyen una oportunidad para promover un debate informado en la ciudadanía, impulsar políticas públicas basadas en evidencia y servicios de información para el sector privado.'" [title]="'Objetivos'"></app-about-card>
    </div>
    <div class="tui-col_md-12" style="align-items: stretch;">
      <app-about-card [routeUrl]="'fuentes'"[icon]="'assets/database.svg'" [content]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed semper sem. Praesent id purus a sapien sodales egestas. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.'" [title]="'Fuentes'"></app-about-card>
    </div>

  </div>
</div>
