
.footero{
  position: absolute;
  bottom: 0;
  width: 100%;
}



.container {
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.container .box {
  text-align: center;
  color: white;
  font-family: sans-serif;
  font-size: 36px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container .box-1 {
  background-color: green;
  height: 60px;
}
.container .box-2 {
  background-color: blue;
  flex: 1;
}
.container .box-3 {
  background-color: red;
  height: 60px;
}
