<footer class="lab-footer" fxLayout="column" fxLayoutAlign="space-around center">
  <div fxLayout="row" fxLayoutAlign="space-around center" style="width: 100%; margin: 32px"  >
      <div fxLayout="column" fxLayoutAlign="space-between start">
        <a class="about" href="">Acerca del Proyecto</a>
        <a class="about" href="">Herramientas</a>
        <a class="about" href="">Indicadores</a>
      </div>
    <div>
      <img src="assets/github.svg" style="width: 48px;height: 48px"/>
    </div>
  </div>
  <p style="color: white; font-weight: bold">Ecosistema de Datos Abiertos {{date}}</p>
</footer>
