/* You can add global styles to this file, and also import other style files */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--tui-base-04);
  padding-left: 20px;
  background-color: #262626;
}
