<div style="padding: 64px; min-height: 520px;">
  <span class="tui-text_h3">Objetivos</span>
  <p>Los datos abiertos constituyen una oportunidad para promover un debate informado en la ciudadanía, impulsar
    políticas públicas basadas en evidencia y servicios de información para el sector privado. Un estudio de hace dos
    años evidenció, sin embargo, que la mayoría de las iniciativas no proviene del sector público ni privado, sino de la
    sociedad civil. Luego de la pandemia muchos más actores, iniciativas y tecnologías emergieron, y se hace necesario
    visibilizarlos.</p>
  <p>El <strong>Ecosistema de Datos Abiertos</strong> es una iniciativa del Laboratorio de Tecnologías Sociales que
    tiene los siguientes objetivos:</p>
  <ul class="tui-list tui-list_large">
    <li class="tui-list__item">Visibilizar proyectos de datos abiertos de la sociedad civil boliviana.</li>
    <li class="tui-list__item">
      Ayudar a identificar actores, proyectos y tecnologías para desarrollar posibles colaboraciones en el ecosistema.
    </li>
  </ul>

</div>
